<h1>Log Into Your Account</h1>
<hr>
<br>
<form method="POST" action="/login">
<input type="text" name="name" placeholder="username">
<input type="text" name="email" placeholder="email address">
<input type="password" name="password" placeholder="password">
<input type="submit">
</form>

