<h2>Sign Up!</h2>

<label>Name: 
        <input type="text" name="player[name]">
</label>
<br>
<label>E-Mail:
    <input type="email" name="email">
</label>
<br>
<label>Password:
    <input type="password" name="password">
</label>
<br>
    <input type="submit" value="Sign Up">
</form>

<a href="/">Back</a>

    