<h1>My Albums</h1>
<hr>
<br>
<% @albums.each do |a| %>
    <p><a href="/albums/<%= a.id %>"><%= a.title %> - <%= a.artist %></a></p>

<%end%>
<br>
<br>
<br>

<a class="btn btn-outline-primary" href="/albums/new" role="button">Add Album</a>
<br>
<br>
<br>
<br>
<br>
<a href="/logout">Logout</a>
