<h2>Create A New Album</h2>
<hr>
<br>
<form method="POST" action="/albums">
    <input type="text" name="title" placeholder="Album Title">
    <input type="text" name="artist" placeholder="Artist/Band Name">
    <input type="submit">
</form>