<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
</head>
<body>
  <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="imb-left d-none d-md-flex"></div>

        <div class="card-body">
          <h4 class="title text-center mt-4">
            Login Into Account
          </h4>
          <form class="form-box px-3">
            <div class="form-input"> 
              <span><i class="fa fa-envelope-o"></i></span>
              <input type="username" name="" placeholder= "Username" tabindex="10" required>
            </div>
            <div class="form-input"> 
              <span><i class="fa fa-key"></i></span>
              <input type="email" name="" placeholder= "Email" required>
            </div>
            <div class="form-input"> 
              <span><i class="fa fa-key"></i></span>
              <input type="password" name="" placeholder= "Password" required>
            </div>

            <div class="mb-3">
              <button type="submt" class="btn btn-block text-uppercase">Login</button>
            </div>

            <div class="text-right">
              <a href="#" class="forget-link">
                Forget Password?
              </a>
            </div>

            <hr class="my-4">

            <div class="text-center mb-2" ></div>
              Don't have an account?
              <a href="#" class="register-link">
              Register Here
              </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>






<h1>Record Collector</h1>





<br>
<br>
<br>

  <a href="/login">Login</a> or <a href="/signup">Sign Up</a>
</div>

