<h1>The Record Collector App</h1>

<a class="btn btn-lg btn-outline-primary btn-block text-uppercase" href="/login" role="button">Log In</a>
<a class="btn btn-lg btn-outline-primary btn-block text-uppercase" href="/signup" role="button">Sign Up</a>


